<div>
	<section class="shape">
		<div class="container">
			<h4 class="sub-heading">We shape the future</h4>
			<h2 class="heading">
				How we can help you
			</h2>

			<div class="services">
				<div class="service-card">
					<div class="service-img card-home"></div>

					<div class="service-details">
						<h2 class="service-name">Home Insurance</h2>
						<p class="para-line">
							Tousled lettpre tote bag bicycle rights cliche twee hashtg pokpo demos tanero lamina sime voti.
						</p>
						<button class="btn btn-yellow">
							<a routerLink="/userform">Buy</a>
						</button>
					</div>
				</div>
				<div class="service-card">
					<div class="service-img card-auto"></div>

					<div class="service-details">
						<h2 class="service-name">Auto Insurance</h2>
						<p class="para-line">
							Tousled lettpre tote bag bicycle rights cliche twee hashtg pokpo demos tanero lamina sime voti.
						</p>
						<button class="btn btn-yellow">
							<a routerLink="/userform">Buy</a>
						</button>
					</div>
				</div>
				<div class="service-card">
					<div class="service-img card-health"></div>

					<div class="service-details">
						<h2 class="service-name">Health Insurance</h2>
						<p class="para-line">
							Tousled lettpre tote bag bicycle rights cliche twee hashtg pokpo demos tanero lamina sime voti.
						</p>
						<button class="btn btn-yellow">
							<a routerLink="/userform">Buy</a>
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-------------------- Future shape section ----------------->
</div>