<div>
    <section class="future">
		<div class="container">
			<h4 class="sub-heading">Section overline</h4>
			<h2 class="heading">
				Your Future is Protected
			</h2>
			<p class="para-line">
				Seitan man braid microdosing roof party wolf semiotics lomo iPhone authentic health goth pickled heirloom irony four dollar toast shoreditch. Vice knausgaard echo park microdosing jianbing asymmetrical non swag air plant. Blue bottle chicharrones small batch keytar, poke schlitz hella venmo meggings. Pickled deep v leggings meggings, knausgaard adaptogen swag hexagon kickstarter taiyaki wolf. Offal bespoke organic godard. Hot chicken live-edge vinyl poutine yr bushwick. Bespoke ethical church-key activated charcoal.
			</p>

			<div class="future-protection-imgs">
				<img src="../../assets/img/childcare-insurance.png" alt="Future protection" title="Future protection" class="future-protection-img">
				<img src="../../assets/img/home-insurance.png" alt="Future protection" title="Future protection" class="future-protection-img">
				<img src="../../assets/img/health-insurance.png" alt="Future protection" title="Future protection" class="future-protection-img">
			</div>
		</div>
	</section>
	<!-------------------- Future protection -------------------->
</div>
