<div>
    <section class="map">
		<div class="container">
			<h4 class="sub-heading">Section Overline</h4>
			<h2 class="heading">
				Get in Touch with us
			</h2>

			<p class="para-line">
				Activated charcoal venmo locavore, art party farm-to-table authentic flexitarian try-hard pok pok literally cloud bread shaman. Sartorial viral subway tile four loko mlkshk DIY meh synth twee wolf heirloom roof party gentrify sustainable.
			</p>

			<p class="para-line map-location">
				<ion-icon name="pin-outline"></ion-icon> 63 Hickory Ridge Drive, New Orlando, Insurance HQ
			</p>

			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d60296.48103941258!2d72.81731317714792!3d19.172037180301178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1653817964210!5m2!1sen!2sin" width="100%" height="420" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</section>
	<!-- ------------------------- map ------------------------------ -->

</div>
