<div>
    <section class="news">
		<div class="container">
			<h2 class="heading">News</h2>

			<div class="news-catalogue">
				<div class="news-card">
					<a href="news-view.html">
						<img src="../../assets/img/news-1.png" alt="Post featured image" title="Post featured image" class="featured-image">
						<h2 class="heading">How credit affects your Insurance</h2>
					</a>
					<p class="author">by <a href="https://atulcodex.com">atulcodex</a></p>
					<p class="para-line">
						Introduction Readymade godard brooklyn, kogi shoreditch hashtag hella shaman kitsch man bun pinterest flexitarian. Offal occupy chambray, organic authentic copper mug vice echo park yr… <a href="news-view.html">Read More</a>
					</p>
				</div>
				<div class="news-card">
					<a href="news-view.html">
						<img src="../../assets/img/news-2.png" alt="Post featured image" title="Post featured image" class="featured-image">
						<h2 class="heading">Five insurance mistakes to avoid</h2>
					</a>
					<p class="author">by <a href="https://atulcodex.com">atulcodex</a></p>
					<p class="para-line">
						Introduction Readymade godard brooklyn, kogi shoreditch hashtag hella shaman kitsch man bun pinterest flexitarian. Offal occupy chambray, organic authentic copper mug vice echo park yr… <a href="news-view.html">Read More</a>
					</p>
				</div>

			</div>
		</div>
	</section>
</div>