<div>
    <div class="hero">
		<div class="hero-container">
			<div class="row">
				<div class="col hero-content">
					<h2 class="hero-heading white">
						Insurance for your Secure Family
					</h2>
					<p class="para-line white">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus perspiciatis vero libero, aliquam necessitatibus soluta neque, alias repudiandae.
					</p>
					<div class="inner-row">
						<div class="inner-col">
							<button class="btn btn-full-w btn-yellow">
								<a routerLink="/insurance">Buy Insurance</a>
							</button>
						</div>
					</div>
				</div>
				<div class="col hero-blank-col"></div>
			</div>
		</div>
	</div>
	<!-- Hero div ends -->
   


</div>
